<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Reconfig1</servlet-name>
        <servlet-class>jdbc.Reconfig1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration1</servlet-name>
        <servlet-class>jdbc.Registration1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUI</servlet-name>
        <servlet-class>jdbc.SearchUI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHome</servlet-name>
        <servlet-class>login.AdminHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRec</servlet-name>
        <servlet-class>jdbc.SearchRec</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDelete</servlet-name>
        <servlet-class>jdbc.UpdateDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemberHome</servlet-name>
        <servlet-class>login.MemberHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginValidate</servlet-name>
        <servlet-class>login.LoginValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>login.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>login.logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginModule</servlet-name>
        <servlet-class>Cookie.LoginModule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginModuleValidate</servlet-name>
        <servlet-class>Cookie.LoginModuleValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePswdConfig</servlet-name>
        <servlet-class>Cookie.ChangePswdConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHomeValidate</servlet-name>
        <servlet-class>Cookie.AdminHomeValidate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reconfig1</servlet-name>
        <url-pattern>/Reconfig1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration1</servlet-name>
        <url-pattern>/Registration1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUI</servlet-name>
        <url-pattern>/SearchUI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRec</servlet-name>
        <url-pattern>/SearchRec</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDelete</servlet-name>
        <url-pattern>/UpdateDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemberHome</servlet-name>
        <url-pattern>/MemberHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginValidate</servlet-name>
        <url-pattern>/LoginValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHome</servlet-name>
        <url-pattern>/AdminHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginModule</servlet-name>
        <url-pattern>/LoginModule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginModuleValidate</servlet-name>
        <url-pattern>/LoginModuleValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePswdConfig</servlet-name>
        <url-pattern>/ChangePswdConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHomeValidate</servlet-name>
        <url-pattern>/AdminHomeValidate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
